* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.clear {
  clear: both;
}
h1 {
  font-size: 15rem;
}
.form-section {
  background-image: url("pexels-burst-373893.jpg");
  height: 80%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 15rem;
  text-shadow: 3px 3px 3px black;
}
form,
form input,
form label,
form textarea {
  display: block;
  font-size: 2.4rem;
}
form input,
form textarea {
  margin: 2rem auto;
  width: 50%;
}
form button {
  margin-bottom: 10rem;
  padding: 2rem 4rem;
  background: rgb(61, 81, 102);
  border: none;
  color: white;
  cursor: pointer;
  width: 50%;
}
