* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.clear {
  clear: both;
}
.logo {
  font-size: 15rem;
}
nav {
  background: rgb(61, 81, 102);
  color: white;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
}
nav li {
  float: left;
  margin: 0rem 4rem;
}
.form-section {
  background-image: url("cinema-4609877_1920.jpg");
  height: 60%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 10rem;
  text-shadow: 3px 3px 3px black;
}
form,
form input,
form label,
form textarea {
  display: block;
  font-size: 2.4rem;
}
form input,
form textarea {
  margin: 2rem auto;
  width: 40%;
}
form button {
  margin-bottom: 5rem;
  padding: 2rem 2rem;
  background: rgb(61, 81, 102);
  border: none;
  color: white;
  cursor: pointer;
  width: 40%;
}
